html {
    font-size: 17px;
    color: rgb(251, 228, 228);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("img/fondo.jpg");
    position: absolute;
    align-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }

  @font-face {
    font-family: HennyPenny;
    src: url(Lab1/Henny_Penny/HennyPenny-Regular.ttf);
  }

  h1 {
    position: relative;
    top: -50px;
    left: 330px;
    font-family: HennyPenny;
    font-size: 80px;
  }

  .lab1 {
    position: relative;
    top: -140px;
    left: 80px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton1 {
    position: relative;
    top: -70px;
    left: -50px;
  }

  .lab2 {
    position: relative;
    top: -620px;
    left: 200px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton2 {
    position: relative;
    top: -570px;
    left: 150px;
  }

  .lab3 {
    position: relative;
    top: -1020px;
    left: 350px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton3 {
    position: relative;
    top: -970px;
    left: 300px;
  }

  .lab4 {
    position: relative;
    top: -1530px;
    left: 550px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton4 {
    position: relative;
    top: -1450px;
    left: 450px;
  }

  .lab5 {
    position: relative;
    top: -2000px;
    left: 800px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton5 {
    position: relative;
    top: -1950px;
    left: 710px;
  }

  .lab6 {
    position: relative;
    top: -2550px;
    left: 950px;
    font-family: HennyPenny;
    font-size: 40px;
  }

  .boton6 {
    position: relative;
    top: -2500px;
    left: 900px;
  }